/* ===========================
   상태 변경 모달
=========================== */
.modal{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.35);
    z-index:9999;
}

.hidden{
    display:none;
}

.modalBox{
    width:320px;
    padding:28px 24px;
    background:#ffffff;
    border-radius:18px;
    box-shadow:0 8px 24px rgba(0,0,0,.18);
}


.modalText{
    margin-bottom:32px;
    text-align:center;
    color:#333333;
    font-size:18px;
    line-height:1.6;
}

.modalBtnBox{
    display:flex;
    gap:12px;
}

.modalBtnBox button{
    flex:1;

    height:42px;

    border:none;
    border-radius:10px;

    font-size:14px;
    font-weight:700;

    cursor:pointer;

    transition:.2s;
}

/* 아니오 */
#mstateCancel{
    background:#BDBDBD;
    color:#fff;
}

#mstateCancel:hover{
    background:#9E9E9E;
}

/* 예 */
#mstateConfirm{
    background:#1976D2;
    color:#fff;
}

#mstateConfirm:hover{
    background:#1565C0;
}